name: Project Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        brew install cmake googletest qt6

    - name: Configure project
      run: |
        cmake -S . -B build -DCMAKE_PREFIX_PATH=$(brew --prefix qt6)

    - name: Build tests
      run: |
        cmake --build build --target tests

    - name: Run tests
      run: |
        cd build && ./tests