name: Project Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install GoogleTest
      run: brew install googletest

    - name: Compile Tests
      run: |
        mkdir -p bin
        clang++ -std=c++17 $(find src -type f -name '*.cpp' ! -name 'main.cpp') $(find tests -type f -name '*.cpp') -o bin/tests -I/usr/local/include -L/usr/local/lib -lgtest -lgtest_main -lpthread

    - name: Run Tests
      run: ./bin/tests